tgcrypto
ffmpeg-python
py-tgcalls==0.9.0
pyrogram==2.0.30
yt-dlp==2024.3.10
youtube-search-python
youtube-search
python-dotenv
dnspython
gitpython
asgiref
aiofiles
aiohttp
requests
pillow
heroku3
motor
psutil
future
wget
speedtest-cli
pymongo
